# front end

# Dependencies
/front-end/node_modules

# Compiled output
/front-end/build

# Runtime data
/front-end/database.sqlite

# Test coverage
/front-end/coverage

# Logs
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# Editors and IDEs
/front-end/.idea
/front-end/.vscode/*
/front-end/!.vscode/settings.json
/front-end/!.vscode/tasks.json
/front-end/!.vscode/launch.json
/front-end/!.vscode/extensions.json

# Misc
front-end/.DS_Store


#Backend
/back-end/vendor
/back-end/logs
