html,
body,
div,
span,
applet,
object,
iframe,
p,
a,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
i,
dl,
dt,
dd,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea,
input {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	list-style: none;
	text-decoration: none;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

a {
	color: inherit
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 16px
}

h4 {
	font-size: 14px
}

h5 {
	font-size: 12px
}

h6 {
	font-size: 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
	padding: 0
}

img {
	max-width: 100%;
	max-height: auto;
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-size: 13px;
	line-height: 1.42857143;
	direction: rtl
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

mark {
	color: #000;
	background-color: #FDFD91
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

pre {
	overflow: auto
}

hr {
	height: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee
}

code,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal;
	outline: none
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

td,
th {
	padding: 0
}

figure {
	margin: 0
}

* {
	box-sizing: border-box
}

:before,
:after {
	box-sizing: border-box
}

.container-fulid {
	width: 100%;
	padding: 0 15px
}

.container {
	margin: 0 auto
}

img.aligncenter {
	display: block;
	margin: 5px auto
}

img.alignleft {
	float: left
}

img.alignright {
	float: right
}

.tcenter {
	text-align: center
}

.tleft {
	text-align: left
}

.tright {
	text-align: right
}

.pull-right {
	float: right!important
}

.pull-left {
	float: left!important
}

.hide {
	display: none!important
}

.show {
	display: block!important
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

@media print {
	*,
	:before,
	:after {
		background: transparent!important;
		color: #000!important;
		box-shadow: none!important;
		text-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr,
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	.navbar {
		display: none
	}
	.btn>.caret,
	.dropup>.btn>.caret {
		border-top-color: #000!important
	}
	.label {
		border: 1px solid #000
	}
	.table {
		border-collapse: collapse!important
	}
	.table td,
	.table th {
		background-color: #fff!important
	}
	.table-bordered th,
	.table-bordered td {
		border: 1px solid #ddd!important
	}
}

code,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
	font-size: 90%;
	color: #c7254e;
	padding: 2px 4px;
	border-radius: 4px;
	background-color: #f9f2f4
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0
}

@media (min-width: 768px) {
	.container {
		width: 750px
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none!important
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none!important
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none!important
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none!important
	}
}